html, body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: #ffffff00 !important;
}
.app
{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-title {
  margin-left: 8px;
  align-self: baseline;
}

.app-title-wrapper {
  padding: 0.3rem;
}

.app-logo {
  padding: 1px;
  height:25px;

}
#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  background: #8C5DD9;
  -webkit-app-region: drag;
}

#menu-bar>div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-button {
  height: 100%;
  padding: 0 15px;
  border: none;
  background: transparent;
  outline: none;
}
.menubar-btn {
  -webkit-app-region: no-drag;
}



button:hover {
  background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}

.render-area-container {

  border-radius: 0px 0px 10px 10px;;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  flex: 1; 
  overflow: hidden;
  background: #ffffff00;
}
:root {
    --checker-color-1: #9a72db49;
    --checker-color-2: #5f3e9533;
    --checker-size: 30px;
    --checker-gradient: linear-gradient(45deg, var(--checker-color-1) 25%, transparent 25%, transparent 75%, var(--checker-color-1) 75%);

}
.render-area-active
{
    border-right: 2px  #9a72db dashed;
    border-left: 2px #9a72db dotted;
    border-bottom: 2px  #9a72db dashed;
    /*background: #9a72db8a;*/
    transition: all 0.2s ease-in-out;
    background-color: var(--checker-color-2);
    background-image: var(--checker-gradient), var(--checker-gradient);
    background-position: 0 0, var(--checker-size) var(--checker-size);
    background-size: calc(var(--checker-size) * 2) calc(var(--checker-size) * 2);
}
.render-area-active:hover
{
  border-color: orange;


}
.render-area-text {
  font-family: "Hina Mincho";
  color: black;
  font-size: 55px;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  transition: all 0.2s ease-in-out;
}
.render-area-text-inactive
{
  opacity: 0.25;
}
#active-state-indicator
{
  color:red !important;
}
