html, body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: #ffffff00 !important;
}
.app
{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-title {
  padding: 0.5rem;
}

.app-title-wrapper {
  padding: 0.3rem;
}

.app-logo {
  padding: 2px;
  height:40px;

}
#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: #8C5DD9;
  -webkit-app-region: drag;
}

#menu-bar>div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-button {
  height: 100%;
  padding: 0 15px;
  border: none;
  background: transparent;
  outline: none;
}
.menubar-btn {
  -webkit-app-region: no-drag;
}



button:hover {
  background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}

.render-area-container {


  color: white;
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  flex: 1; 
  overflow: hidden;
  background: #ffffff00;
}
.render-area-active
{
    border: 1px red dashed;
    background: #5c3d8d11;
}
.render-area-text {
  font-family: "Hina Mincho";
  color: black;
  font-size: 55px;
  font-weight: bolder;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  transition: all 0.2s ease-in-out;
}
.render-area-text-inactive
{
  opacity: 0.25;
}
#active-state-indicator
{
  color:red !important;
}
